{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PLVHFQNSYR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PLVHFQNSYR');
</script>

<div class="md-header__topic" data-md-component="header-topic"> 
  <span class="md-ellipsis"> 
    {% if page.meta and page.meta.title %} 
      {{ page.meta.title }} 
    {% else %} 
      {{ page.title }} 
    {% endif %}
        
    <a href="https://www.amazon.com/Fear-Loathing-Marinas-Katharine-Murphy-ebook/dp/B0HFWTN8P7"
      target="_blank"
        rel="noopener"
        class="kindle-link">
      📖 Read on Kindle →
      </a>
    </span> 
  </div> 
<!--  <a href="https://www.amazon.com/Fear-Loathing-Marinas-Katharine-Murphy-ebook/dp/B0HFWTN8P7" target="_blank" rel="noopener"
     style="text-decoration:none; font-weight:bold;">
    📖 Read on Kindle →
  </a>-->

{% endblock %}


{% block scripts %}
  <!-- Add scripts that need to run before here -->
  {{ super() }}
{% endblock %}