{% extends "base.html" %}

{% block extrahead %}
  {{ super() }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-PLVHFQNSYR"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-PLVHFQNSYR');
</script>
</br>
  <a href="https://www.amazon.com/Fear-Loathing-Marinas-Katharine-Murphy-ebook/dp/B0HFWTN8P7" target="_blank" rel="noopener"
     style="text-decoration:none; font-weight:bold;">
    📖 Read on Kindle →
  </a>

{% endblock %}